/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

/* BASE */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: var(--dark);
}

/* NAVBAR */
.navbar {
  background-color: #000000;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  z-index: 10;
}

.nav-lang-select {
  margin-left: -20px;
  padding: 0 -10.5rem;
  z-index: 10;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  position: sticky;
  z-index: 10;
}

.nav-menu li {
  position: relative; /* needed for dropdown */
  z-index: 10;
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  display: block;
  transition: background-color 0.2s ease, color 0.2s ease;
  z-index: 10;
}

.nav-menu a:hover {
  background-color: #ffffff;
  color: #0b3c5d;
  border-radius: 4px;
  z-index: 10;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  z-index: 10;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.nav-links a:hover {
  color: black;
  background-color: white;
  z-index: 10;
}

/* HERO (Golden Ratio ≈ 62vh) */
.hero {
  height: 62vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* offset for navbar */
}

.hero-content {
  max-width: 800px;
  text-align: center;
  color: white;
  padding: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
}

/* SECTIONS */
.section {
  padding: 5rem 2rem;
}

.icon-gallery {
  display: flex;
  justify-content: center;
  gap: 15%; 
}

.icon-gallery figcaption{
  padding-top: 0.5rem;
  flex-direction: column;
  text-align: center;
  position: relative; left: -10px;
}

.section.alt {
  background: #f4f6f8;
}

.section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.section-content {
  max-width: 900px;
  margin: auto;
  font-size: 1.05rem;
}

.contact-info {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    gap: 1rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero {
    height: auto;
    padding: 6rem 1rem 4rem;
  }

  .icon {
    width: 50%;
    height: 40%;
  }

  .icon-gallery figcaption{
    padding-top: 0.5rem;
    flex-direction: column;
    text-align: center;
    position: relative; left: -25%;
  }

}