/* CAMERA BOAT PAGE */

.camera-title{
    font-size:3rem;
    margin-bottom:1rem;
    font-family:'Cinzel', serif;
}

/* GALLERY */

.camera-gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.camera-gallery img{
    width:30%;
    min-width:280px;
    border-radius:12px;
    object-fit:cover;

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.camera-gallery img:hover{
    transform:scale(1.03);

    box-shadow:
        0 10px 30px rgba(0,0,0,0.35);
}

/* SPECS */

.specs-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.specs-list{
    max-width:900px;
    margin:auto;
}

/* MOBILE */

@media (max-width: 768px){

    .camera-title{
        font-size:2.2rem;
    }

    .camera-gallery{
        flex-direction:column;
        align-items:center;
    }

    .camera-gallery img{
        width:95%;
    }

    .specs-grid{
        grid-template-columns:1fr;
    }

}