/* SECTIONS */
.section {
  padding: 0;
  padding-bottom: 1rem;
}

.light-section {
  padding: 2rem;
  background: white;
  text-align: center;
  font-family: 'Lato';

  background: radial-gradient(
    ellipse at center,
    transparent 60%,
    rgba(11, 11, 11, 0.33) 100%
  );

  outline: black solid 1px;
}


.dark-section {
  padding: 2rem;
  background: #f4f6f8;
  text-align: center;
  font-family: 'Lato';

  background: radial-gradient(
    ellipse at center,
    transparent 60%,
    rgba(100, 100, 100, 0.33) 100%
  );
  
}

.light-section li, .dark-section li {
  text-align: left;
}

.section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.dark-section h2, .light-section h2 {
  text-align: center;
  font-size: 2rem;
}

.section-content {
  max-width: 900px;
  margin: auto;
  font-size: 1.05rem;
}

#contact {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
}

#contact-info h3{
  font-family: 'cinzel', serif;
}
