@import url("menuBarDoubleLine.css");
@import url("movieposters.css");
@import url("sectionContent.css");
@import url("hero.css");
@import url("icons.css");
@import url("styles768.css");
@import url("menuBar768.css");
@import url("icons768.css");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
  scroll-margin-top: 120px;
  font-family:'cinzel', serif;
}

h2 {
  font-family: 'Raleway', serif;
}

/* BASE */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: var(--dark);
}

/* FOOTER */
footer {
  background-color: #000;
  color: white;
  width: 100%;
  padding: 10px 20px;
}

/* FLEX CONTAINER */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* TEXT */
.left-footer,
.right-footer {
  font-size: 13px;
}