@import url("menuBarDoubleLine.css");
@import url("movieposters.css");
@import url("sectionContent.css");
@import url("responsive768.css");
@import url("hero.css");
@import url("icons.css");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

/* BASE */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: var(--dark);
}

/* FOOTER */
footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between; /* Pushes items to the edges */
  width: 100%; /* Ensure the container spans the full width */
  }

.left-footer {
  text-align: left;
  float: left;
  }

.right-footer {
  text-align: right;
  float: right;
  }